body{
    text-align: center;
}

.btn{
    height: 150px;
    width: 150px;
    border-radius: 15%;
    border: 7px solid black;
    margin: 1rem;
}
.score{
    height: 50px;
    width: 400px;
    

}   

.score-outer{
    display: flex;
    justify-content: center;
}

.btn-container{
    display: flex;
    justify-content: center;
}
.red{
    background-color: #d95980;
}
.yellow{
    background-color: #f99b45 ;
}
.green{
    background-color: #63aac0;
}
.purple{
    background-color: #819ff9;
}

.flash{
    background-color: white;
}